---
type: page
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ginas Websites</title>
        {% include head.html %}
    </head>


    <body data-spy="scroll" data-target="#mainNav">

        <div>
            <section id="main" class="container-fluid">
                {% include header.html %}
                    <div class="row top-buffer">
                        <section class="offset-sm-2 col-sm-8 ">
                            <div class="text-center">
                                <h2><br>Frequently Asked Questions</h2><hr>
                            </div>
                            <section>
                                <p>
                                    Welcome to Dance Express at the Downtown YMCA-your fast track towards making your dance dreams come
                                    true! Whether you are a beginner wanting to overcome two left feet, or if you’re ready for the next steps on
                                    your dance journey, professional Ballroom Dance Instructor, Gina Crisanti, is eager to help you achieve your
                                    goals through a comprehensive program of Private Lessons, Group Classes, Weekly Socials and Performance
                                    Opportunities.
                                </p>
                                    <br>
                                    <h4>What should I wear?</h4>
                                <p>
                                    Proper dance shoes are an essential tool to help you reach your goals . However, for your first few
                                    lessons, any comfortable shoes that offer support on the heel and on top of the foot should work fine.
                                    Ideal clothing allows freedom of movement.
                                </p>
                                    <br>
                                    <h4>How long will it take to learn?</h4>
                                <p>
                                    The ‘Rule of 1000’ applies: conventional wisdom says it takes 1,000 reps to create muscle memory.
                                    The Dance Express Program is designed to give you ample opportunity to create the muscle memory you
                                    need to dance freely, without having to think about the steps. That being said, Learning to dance is an
                                    endless journey and the sky is the limit. Your pace is set by your rate of attendance and attention to
                                    detail through private lessons, etc.
                                </p>
                                    <br>
                                    <h4>Do I need a partner?</h4>
                                <p>
                                    No, in the group classes, we switch partners often.
                                </p>
                                    <br>
                                    <h4>What if I only want to focus one dance?</h4>
                                <p>
                                    Private lessons are tailored for specific goals. However, it is recommended that you build a strong base
                                    of knowledge of several dances before honing in on one. Each dance emphasizes different qualities of
                                    movement that help you become a stronger dancer over-all. Initial narrow focus can be limiting,
                                    whereas a broad focus allows for exponential growth: improvement in any dance enhances your dancing
                                    over all.
                                </p>
                                    <br><br>
                                </p>
                            </section>
                        </section>

                    </div>

            </section>
        </div>
    {% include footer.html %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            {% include photos.html %}
        </div>
    {% include footerIncludes.html %}



    </body>

</html>

