--- 
type: main 
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ballroom Basics</title>
    {% include head.html %}
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div id="wrap">
        <section id="main" class="container-fluid">
            {% include header.html %}
            <section id="banner" class=" fullSections row row-sm-flex-center">

                <div class="col-lg-6">
                    <h2>
                        Ballroom Basics
                    </h2>
                    <p>
                        1st Visit is FREE<br>Last Thursday of Each Month 7-8:30 pm<br> At the Amon G Carter YMCA<br> Includes Beginner
                        Lesson, Intermediate Lesson, Social Dancing, and Occasional Demos and Adventures
                    </p>
                    <a href="#about"><button type="button" class="ghostBtn btn btn-secondary btn-lg">More</button></a>
                </div>
                <div class="contactBG offset-md-2 col-md-8 offset-lg-0 col-lg-6 offset-xl-2 col-xl-4 signUP">
                    <div class="card cardDark cardShadow">
                        <div class="card-block">
                            <h4>
                                Sign Up Now!
                            </h4>
                            <hr>
                            <form action="mailto:gcrisanti@ymcafw.org" method="post" enctype="text/plain">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Full Name</label>
                                    <input name="Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email address</label>
                                    <input name="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section id="about" class=" fullSections row row-sm-flex-center">

                <div class="row row-sm-flex-center">
                    <div class="col-md-6">
                        <img class="profileImage" src="assets/photos/gina.jpg" />
                    </div>
                    <div class="col-md-6">
                        <h2>
                            About
                        </h2>
                        <p>
                            <br> Welcome to Ballroom Basics at the Downtown YMCA-your fast track towards making your dance
                            dreams come true! Whether you are a beginner wanting to overcome two left feet, or if you’re
                            ready for the next steps on your dance journey, professional Ballroom Dance Instructor, Gina
                            Crisanti, is eager to help you achieve your goals through a comprehensive program of Private
                            Lessons, Group Classes, Weekly Socials and Performance Opportunities.
                        </p>
                    </div>
                </div>
            </section>



            <section id="contact" class=" fullSections row row-sm-flex-center">
                <section class="contactBG col-md-6 col-lg-4">
                    <div class="card cardShadow">
                        <div class="card-block">
                            <h3>
                                Contact
                            </h3>
                            <hr>
                            <p class="card-text">
                                <a href="https://goo.gl/maps/YY2ADAfPany">
                                        Amon G Carter YMCA<br>
                                        512 Lamar St, <br>
                                        Fort Worth, TX 76102, USA<br>
                                    </a>
                                <br>
                                <a href="tel:+18173323281">+1.8173323281</a><br>
                                <a href="mailto:gcrisanti@ymcafw.org">gcrisanti@ymcafw.org</a><br>
                            </p>
                        </div>
                    </div>
                </section>

                <div class="col-lg-4 hidden-md-down"></div>
                <div class="contactBG col-md-6 col-lg-4 signUP">
                    <div class="card cardShadow">
                        <div class="card-block">
                            <h3>
                                Private Lessons
                            </h3>
                            <p>
                                Scheduled at your Convenience
                            </p>
                            <hr>
                            <h3>
                                Group Lessons
                            </h3>
                            <p>
                                Mon-Wed 7-8 pm
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </section>
    </div>

    {% include footer.html %}

    <!-- -->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> {% include photos.html %}
    </div>





    {% include footerIncludes.html %}




</body>

</html>