---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ginas Websites</title>
    {% include head.html %}
</head>


<body data-spy="scroll" data-target="#mainNav">

<div id="wrap">
    <section id="main" class="container-fluid">
        {% include header.html %}
        <div class="row top-buffer">
            <section class="offset-lg-1 col-lg-10 ">
                <div class="text-center">
                    <h1><br>Pricing</h1><hr>
                </div>
                <section class="text-center">
                    <div class="card-group">
                        <div class="card card-pop">
                            <h2 class="card-header">Private Lessons</h2>

                            <div class="card-block">
                                <h6 class="card-subtitle mb-2 text-muted">Scheduled at your convenience.</h6>
                                <div class="card-group">
                                    <div class="card">

                                        <div class="card-block">
                                            <h4 class="card-title">Member</h4>

                                                1 Session: $45<br><hr>
                                                4 Session: $160<br><hr>
                                                8 Sessions: $280
                                            

                                        </div>
                                    </div>
                                    <div class="card">

                                        <div class="card-block">
                                            <h4 class="card-title">Non-Member</h4>

                                            1 Session: $65<br><hr>
                                            4 Session: $240<br><hr>
                                            8 Sessions: $440

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainCard card card-pop">
                            <h2 class="card-header">Group Lessons</h2>
                            <div class="card-block">
                                <h6 class="card-subtitle mb-2 text-muted">Monday, Tuesday, & Wednesday, 7-8:00 p.m.</h6>
                                <div class="card-group">
                                    <div class="card">

                                        <div class="card-block">
                                            <h4 class="card-title">Monthly</h4>

                                            Individual:<br>$30/member & $50/non-member<br><hr>
                                            Couple:<br>$50/member & $70/non-member


                                        </div>
                                    </div>
                                    <div class="card">

                                        <div class="card-block">
                                            <h4 class="card-title">Drop-In</h4>
                                            Individual:<br>$8/member & $12/non-member<br><hr>
                                            Couple:<br>$15/member & $22/non-member

                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

        </div>

    </section>
</div>



{% include footer.html %}
{% include footerIncludes.html %}



</body>

</html>

